.advert {
  background-color: #643eb4;
  //padding: 10px 0;
  color: white;
  position: relative;
}

.advert__wrapper {
  display: flex;
  justify-content: space-between;
}

.advert__title {
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 14px;
}

.advert__text {
  font-size: 14px;
  margin: 0;
  margin-bottom: 4px;
}

.advert__price {
  font-weight: bold;
}

.advert__last-price {
  margin-left: 2px;
  font-weight: normal;
  font-size: 13px;
  position: relative;
}

.advert__last-price::before {
  width: 100%;
  height: 2px;
  background-color: #e54f28;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-10deg);
}

.advert__button {
  //flex-grow: 1;
  width: 40px;
}

.advert__button::before,
.advert__button::after {
  right: 0;
  //left: auto;
}

.advert__link {
  color: inherit;
  text-decoration: none;
  padding: 10px 0;
  padding-right: 0;
  flex-grow: 1;
}

.advert__link:hover {
  color: rgba(255, 255, 255, 0.5);
}


@media (min-width: 770px) {
  .advert {
    padding: 5px 0;
  }
  
  .advert__link {
    display: flex;
    padding-left: 140px;
    padding-right: 50px;
    justify-content: center;
    background-image: url("img/advert-background.png");
    background-repeat: no-repeat;
    background-position: left center;
  }
  
  .advert__title {
    font-size: 16px;  
  }
  
  .advert__title-container {
    margin-right: 40px;
    display: block;
    //flex-shrink: 0;
    //flex-grow: 1;
  }
  
  .advert__text {
    margin: 0;
    //flex-grow: 1;
  }
  
  .advert__price {
    font-size: 25px;
    white-space: nowrap;
  }
  
  .advert__text--new-line {
    //display: block;
  }
  
  .advert__text-before {
    //display: block;
  }
  
  .advert__button {
    position: absolute;
    //top: 0;
    //bottom: 0;
    //left: 0;
    //margin: auto;
    right: 20px;
    height: 40px;
    top: 50%;
    margin-top: -20px;
  }
  
}