.main-nav {
  //color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}

.main-nav__link {
  color: white;
  text-decoration: none;
}

.main-nav__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}

.main-nav__button {
  width: 30px;
  height: 23px;
  background-color: transparent;
  border: none;
  display: block;
  padding: 0;
  position: relative;
}

.main-nav__button span {
  width: 100%;
  height: 3px;
  background-color: white;
  display: block;
}

.main-nav__button::before,
.main-nav__button::after {
  width: 100%;
  height: 3px;
  background-color: white;
  content: "";
  display: block;
  position: absolute;
}

.main-nav__button::before {
  top: 0;
}

.main-nav__button::after {
  bottom: 0;
}

.main-nav__link {
  width: 14px;
  height: 14px;
  font-size: 0;
  display: block;
  background-color: white;
  opacity: 0.5;
}