.page-header {
  background-color: #302a81;
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 80px;
}

.page-header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-header__logo {
  //outline: 1px solid red;
}

.page-header__logo img {
  display: block;
}


.page-header__content {
  padding-top: 160px;
  text-align: center;
}

.page-header__title {
  color: white;
}