.page-header {
  background-color: #302a81;
  width: 100%;
  display: block;
  //padding-top: 15px;
  padding-bottom: 80px;
}

.page-header--profile {
  padding-bottom: 0;
  background-color: transparent;
}

.page-header__wrapper {
  padding: 0 10px;
}

.page-header__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.page-header__logo {
  position: relative;
  z-index: 6;
  //margin-right: 20px;
}

.page-header__logo img {
  display: block;
  width: 80px;
}

@media (min-width: 425px) {
  .page-header__wrapper {
    padding: 0 20px;
  }
  
  .page-header__logo img {
    width: 100px;   
  }
  
}

@media (min-width: 770px) {
  .page-header {
    background-image: repeating-linear-gradient(150deg,rgba(255,255,255,.06),rgba(255,255,255,.06) 1px,transparent 0,transparent 41px),repeating-linear-gradient(-150deg,rgba(255,255,255,.06),rgba(255,255,255,.06) 1px,transparent 0,transparent 41px);
    padding-bottom: 150px;
  }
  
  .page-header--profile {
    padding: 0;
    background-image: none; 
  }
  
  .page-header__logo {
    display: none;
  }
  
  .page-header__logo--profile {
    display: block;
    margin-right: 40px;
  }
  
  .page-header__wrapper {
    padding: 0 25px;
  }
}